.quadrado{
    height: 100px;
    width: 100px;
    border: solid black 4px;
    margin: 10px;
    color: rgb(255, 255, 255);
    background-color: mediumpurple;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.quadrado1{
    left: 0px;
    top: 0px;
    background-color: rgb(232, 51, 120);
}

.quadrado4{
    right: 0px;
    top: 0px;
    background-color: rgb(197, 224, 21);
}
.quadrado3{
    bottom: 0px;
    left: 0px;
    background-color: rgb(58, 223, 85);
}
.quadrado2{
    bottom: 0px;
    right: 0px;
    background-color: rgb(50, 196, 160);
}


